<%= form_for(@human_name) do |f| %>
  <% if @human_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@human_name.errors.count, "error") %> prohibited this human_name from being saved:</h2>

      <ul>
      <% @human_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Ad" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Köken" %><br />
	<%= f.collection_select :origin_language_id, OriginLanguage.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label "Doğayla ilgili" %><br />
    <%= f.check_box :is_natural %>
  </div>
  <div class="field">
    <%= f.label "Anlamlar" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label "Cinsiyet" %><br />
    <%= f.select :gender, options_genders_for_select %>
  </div>
  <div class="field">
    <%= f.label "Yasaklı" %><br />
    <%= f.check_box :is_forbidden %>
  </div>
  <div class="actions">
    <%= f.submit "Kaydet" %>
  </div>
<% end %>
