<%= form_for(@human_name) do |f| %>
  <% if @human_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@human_name.errors.count, "error") %> prohibited this human_name from being saved:</h2>

      <ul>
      <% @human_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :origin_language_id %><br />
    <%= f.number_field :origin_language_id %>
  </div>
  <div class="field">
    <%= f.label :is_natural %><br />
    <%= f.check_box :is_natural %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :is_forbidden %><br />
    <%= f.check_box :is_forbidden %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
