<p id="notice"><%= notice %></p>

<div class="name-box">
	<span class="panel-name"><%= @human_name.name %></span>
	<span class="panel-origin">Köken: <%= @human_name.origin_language.name %></span>
	<p class="panel-explanation">
		<%= @human_name.description %>
	</p>
<% if false %>
	  <b>Doğayla ilgili:</b>
	  <%= @human_name.is_natural %>
	Cinsiyet:</b>
	  <%= gender_name @human_name.gender %>
	</p>

	<p>
	  <b>Yasaklı (dini referans içeriyor):</b>
	  <%= @human_name.is_forbidden %>
	</p>
	<%= link_to 'Geri', human_names_path %>
<% end %>

	<%= link_to 'Düzenle', edit_human_name_path(@human_name) %>
</div>